params {
    sc {
        cellranger_atac {
            container = 'vibsinglecellnf/cellranger-atac:1.2.0'
            // Label for the processes
            labels {
                processExecutor = 'local' // or qsub
            }
        }
    }
}

// define computing resources via process labels
process {
    withLabel: 'compute_resources__cellranger' {
        cpus = 20
        memory = '6 GB'
        time = '24h'
        maxForks = 1
    }
}

